<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssm.mapper.master.DivideTypeMapper">
	<resultMap id="divideTypeMap" type="cn.ssm.entity.DivideType">
		
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="monthSizeStart" property="monthSizeStart"/>
		<result column="monthSizeEnd" property="monthSizeEnd"/>
		<result column="top" property="top" />
		<result column="down"  property="down" />
		<result column="name" property="name" />
		<result column="rmark"  property="rmark" />
	</resultMap>
	
	<!-- 根据id查询 -->
	<select id="selectById" resultMap="divideTypeMap">
		select * from divide_type where id=#{id}
	</select>
	<!-- 查询所有数据 -->
	<select id="selectAll" resultMap="divideTypeMap">
		select * from divide_type 
	</select>
	
	<!-- 根据id修改数据 -->
	<update id="updateById" parameterType="cn.ssm.entity.DivideType" >
		update divide_type set 
		monthSizeStart=#{monthSizeStart},
		monthSizeEnd=#{monthSizeEnd},
		top = #{top} ,
		down = #{down},
		name = #{name},
		rmark = #{rmark}
		where
		id = #{id}	
	</update>
	
	<!--根据id删除数据，批量删除  -->
	<delete id="deleteById" parameterType="String">
		delete from divide_type where id in 
		<foreach collection="list" item="id" open="(" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	
	<!-- 增加数据 -->
	<insert id="insert" parameterType="cn.ssm.entity.DivideType" >
		insert into divide_type (monthSizeStart,id,monthSizeEnd,top,down,name,rmark) 
							values (#{monthSizeStart},#{id},#{monthSizeEnd},#{top},#{down},#{name},#{rmark})
		
	</insert>
</mapper>