<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssm.mapper.master.UserMapper">
  <resultMap id="BaseResultMap" type="cn.ssm.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="admin" jdbcType="INTEGER" property="admin" />
  </resultMap>
  <select id="login" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from user where loginName=#{loginName} and password=#{password}
   </select>
</mapper>